* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

body{
    background-color: #F2F3F3;
}

.container-web{
    max-width: 1140px;
    margin: 0  auto;
}

header{
    background-color: #333;
    height: 70px;
}

.header-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
    
}

.navbar{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-top: 20px;
    grid-gap: 3rem;
    
}

.navbar-item{
    
    
    text-align: center;
}

.logo {
    margin-top: 15px;
}

.logo h1{
    color: white;
    text-transform: uppercase;
}

ul.navbar li{
   list-style: none;
}

ul.navbar li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

/* End head */

.content{
    margin-top: 100px;
}

.content-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.content-box{
    width: 850px;
    height: auto;
}

.content-box h1{
    text-transform: uppercase;
}

.content-box-1{
    border-top: 5px #333 solid;
    height: auto;
    background-color:white;
    padding: 30px 30px;
    box-shadow: 5px 5px #cfcfcf ;
}

.content-box p{
    margin: 10px 10px;
}

.content-box h3{
    margin: 10px 10px;
}

.content-box h4{
    margin-left:70px;
}

.content-box-2{
    border-top: 5px #333 solid;
    margin-top: 45px;
    height: auto;
    background-color:white;
    padding: 30px 30px;
    box-shadow: 5px 5px #cfcfcf ;
}

.content-box-2 h2{
    margin: 10px 10px;
    text-align: center;
    text-transform: uppercase;
}

h2.after{
    text-shadow: 3px 2px #7d50c5;
}

.text{
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.content-box-3{
    border-top: 5px #333 solid;
    margin-top: 45px;
    height: auto;
    background-color:white;
    padding: 30px 30px;
    box-shadow: 5px 5px #cfcfcf ;
}

.bg-box{
    height: 200px;;
    background-image: url("https://i.pinimg.com/originals/f0/f7/74/f0f7748ef9be8d950871dcb4fc5628af.jpg");
    background-position: center;
}


.text-overflow-before{
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    width: 300px;
    height: 150px;
    float: left;
}


.text-overflow-after{
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    width: 300px;
    height: 150px;
    overflow: scroll;
    float: right;
}

.text-overflow-hiddle{
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    width: 300px;
    height: 150px;
    overflow: hidden;
}

footer{
    color:white;
    padding: 60px;
    margin-top: 45px;
    background-color: #333;
    height: 130px;
}

.dive-code-box{
    margin-top: 20px;
}

.sidebar{
    width: 260px;
    height: 406px;
    text-align: center;
    background-color: white;
    box-shadow: 5px 5px #cfcfcf ;
}

.sidebar h2{
    padding: 5px;
    color: white;
    background-color: #333;
}

.sidebar img{
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.sidebar p{
    margin-top: 20px;
    margin-left: 30px;
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
